# .NET
bin/
obj/
.vs/
appsettings.Development.json

# Local SQLite database and temporary files
backend/Taskify.API/Taskify.db*

# Angular
node_modules/
dist/
.angular/cache

# General
*.log
.env
.DS_Store
